{
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "none",
    "printWidth": 180,
    "tabWidth": 4,
    "semi": false,
    "endOfLine": "crlf",
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
